*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;

}
/* Nav Bar */
    nav{
    display: flex;
    padding: 2% 8%;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(107, 5, 107);
    height: 50px;
}
nav img{
        width: 100px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: rgb(234, 213, 213);
    text-decoration: none;
    font-size: 25px;
}
.nav-link ul li a:hover{
    color: rgb(44, 144, 27);
    font-size: 26px;
}
.nav-link ul li::after{
    content: "";
     width: 0;
     height: 2px;
     background:rgb(24, 122, 34) ;
     display: block;
     margin: auto;

}
.nav-link ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}
@media(max-width:800px) {
    
    .nav-link ul li a{
     display: block;
     color: #000;
     font-size: 12px;
    }
    .nav-link  {
        position: absolute;
        background: #fff;
        height: 100vh;
        width: 100px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        
       }
       .nav-link ul li a:hover{
        color: rgb(44, 144, 27);
        font-size: 18px;
    }
    
    nav img{
        width: 60px;
}
nav .fa{
    display: block;
    color: red;
    margin:10px;
    font-size: 20px;
    cursor: pointer;

}
.nav-link ul{
    padding: 10px;
}
}
/* */
#outline h1{
    margin-top: 2%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#ubox{
    margin: 2% 2%;

}

.line{
    background-color: blueviolet;
    color: blueviolet;
    font-size: 5px;
    margin-right: 50%;
    
}
.content{
    margin: 2% 2%;
}
#outline h3{
    font-size: 30px;
}
#outline p{
    font-size: 20px;
}
.box{
    display: flex;
    margin: 2% 3%;
    background-color: rgb(246, 238, 238);
    border-radius: 10px;
}
.box:hover{
    background-color:rgb(107, 5, 107);
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
.box .im{
    margin: 2% 2%;
    background-color: rgb(245, 237, 237) ;
}

.box img{
    height: 150px;
    width: 250px;
}
.txt{
    margin: 2% 2%;
}
.txt h4{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

@media(max-width:800px) {
    #outline h1{
        margin-top: 1%;
        font-size: 30px;
    }
    #ubox{
        margin: 1% 1%;
    }
    
    #outline h3{
        font-size: 20px;
    }
    #outline p{
        font-size: 12px;
    }
    .box{
        margin: 2% 2%;
        border-radius: 8px;
    }

    .box .im{
        margin: 1% 2%;
    }
    
    .box img{
        height: 100px;
        width: 180px;
    }
    .txt{
        margin: 1% 1%;
    }
    .txt h4{
        font-size: 18px;
    }
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }